@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff") format("woff"),
         url("../fonts/gilroyextrabold.woff2") format("woff2");
         font-weight: bold;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff") format("woff"),
         url("../fonts/gilroylight.woff2") format("woff2");
 }

@font-face {
    font-family: "Opensans";
    src: url("../fonts/opensans.woff") format("woff"),
         url("../fonts/opensans.woff2") format("woff2");
 }

@font-face {
    font-family: "Opensans";
    src: url("../fonts/opensanslight.woff") format("woff"),
         url("../fonts/opensanslight.woff2") format("woff2");
         font-weight: 300;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
}

.main-nav {
    background-color: #f7e296;
    width: 1160px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.logo:hover,
.footer-logo:hover,
.html-logo:hover {
    opacity: 0.6; 
}

.logo:active,
.footer-logo:active,
.html-logo:active {
    opacity: 0.3; 
}

.search {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    opacity: 0.3; 
    border:none;
    background-color: transparent;
}

.search:hover {
    opacity: 0.6; 
}

.search:active {
    opacity: 1;
}

.main-menu {
    list-style: none;
    letter-spacing: 3px;
}

.main-menu a,
.sub-menu a {
    color: #000000;
}

.sub-menu {
    list-style: none;
}

.sub-menu a {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: normal;
    text-transform: none;
}

.footer-menu {
    list-style: none;
}

.footer-menu a {
    color: #ffffff;
}

.main-menu a:hover,
.sub-menu a:hover,
.footer-menu a:hover {
    opacity: 0.6;
}

.main-menu a:active,
.sub-menu a:active,
.footer-menu a:active {
    opacity: 0.3; 
}

.button {
    display: block;
    width: 250px;

    font: inherit;

    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;

    background-color: transparent;
    background-image: url("../img/button-rest.png");
    background-position: center;
    background-repeat: repeat-x;
    border: none;
    
}


.button:hover {
    background-image: url("../img/button-hover.png");
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}


.user-navigation,
.user-navigation a {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #000000;
    list-style: none;
    text-transform: none;
}

.person {
    margin-left: auto;
    margin-right: 5px; 
}

.out {
    opacity: 0.3;
}

.user-navigation-footer,
.user-navigation-footer a {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    list-style: none;
    text-transform: none;
    opacity: 0.6; 
}

.user-navigation a:hover {
    opacity: 0.6; 
}

.social-button img {
    opacity: 0.6; 
}

.user-navigation-footer a:hover,
.social-button img:hover {
    opacity: 1; 
}

.user-navigation a:active,
.user-navigation-footer a:active,
.social-button img:active {
    opacity: 0.3;
}


.about-us h2,
.contacts-main h2 {
    font-size: 47px;
    line-height: 48px;
    text-transform: none;
}

.about-us p,
.contacts-main p {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.delivery-list {
    list-style: none;
}

.delivery-list a {
    color: #000000;
    text-transform: none;
}

.breadcrumbs {
    list-style: none;
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    color: #000000;
    opacity: 0.3;
}

.page-name {
    font-size: 47px;
    line-height: 48px;
    text-transform: none;
}

.side-filter {
    background-color: #efefef;
}

.color-choise,
.bluetooth-choise {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-transform: none;
    border: none;
}

.color-choise legend,
.bluetooth-choise legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.catalog-list {
    list-style: none;
}

.catalog-list h3,
.catalog-list .item-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-transform: none;
}

.catalog-list p {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #464646;
    text-transform: none;
}

.compare {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    text-transform: none;
    color: #000000;
    opacity: 0.5;
}

.main-footer {
    background-color: #464646;
}

.main-footer p {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
    color: #ffffff;
}

.social-list {
    list-style: none;
}

.write-us {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}

.write-us-form input,
.write-us-form textarea {
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-transform: none;
    color: #464646;
    opacity: 0.6;
}

.write-us,
.map-popup {
    display: none;
}